body{
    background-color: rgb(150, 199, 206);
    color: purple;
}
h1{
    text-align: center;   
}
.div{
    background: salmon;
}
.parent .child{
    background-color: rgb(63, 110, 60);
    color: aliceblue;
}
.demo{
    color: rgb(149, 35, 194);
}
div{
    box-shadow: 1px 1px 20px;
}

div.para{
    background: yellowgreen;
    padding: 15px;
    border: 1px solid currentColor;
    box-shadow: 1px 1px 20px;
}
div p{
    color: white;
}

